# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.pdb
*.idb

# Build artifacts
*.obj
*.exe
*.ilk
*.log
*.iobj
*.ipdb
*.tlog
*.lastbuildstate
*.aps
*.res
*.o

# Compiled library files
*.lib
*.dll

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio Code
.vscode/

# Output folders
x64/
Debug/
Release/
binary_fetch/Debug/
binary_fetch/Release/

# Temporary files
*.tmp
*.bak
*.swp
*.vsix
*.cache
*.db

# Ignore history folders
.project_binary_fetch/.history/
